/* Basic Color Pallete */
:root {
    --red: #AA0000;
    --blue: #0000AA;
    --green: #4CAF50;
    --light-blue: #2196F3;
    --yellow: #FFFF55;
    --light-red: #f44336;
    --light-green: #00AAAA; 
}

html {
    background-color: var(--blue);
}


/* Contains entire player and library */
#SMPmainContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* flex-direction: column; */
    /* border: 1px solid white; */
    width: 100%;
}

#SMPinfo {

}

#SMPwaveform {

}

#SMPtime {

}

#SMPcontrols {

}

#SMPplaylistContainer {
    
}

#SMPlibraryContainer {

}

/* Styling for waveform
main container = SMPwaveform
*/
#SMPwaveform {
    border: 5px solid var(--yellow);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    /* padding: 10px; */
    border-radius: 5px;
    background-color: var(--light-blue);
}


/* Styling for transport controls
Container DIV - SMPcontrols
button class - SMPcontrolButtons
*/
#SMPcontrols {
    /* border: 1px solid white; */
    position: relative;
    /* top: -25px; */
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.SMPcontrolButtons {
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: var(--yellow);
    background-color: var(--blue);
    padding: 0;

}

.SMPcontrolButtons:hover {
    color: var(--light-red);
}

#pauseButton {
    font-size: 13px;
    padding-bottom: 1px;
}

#stopButton {
    font-size: 40px;
    /* padding-bottom: 10px; */
    padding-top: 0px;
    /* padding: 0; */
}

/* 
Styling for INFO section

container div - SMPinfo
classes {
     SMPinfoTextTitle
     SMPinfoTextDate
     SMPinfoTextNotes
}
*/

#SMPinfo {
    grid-column-start: 1 / 1;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--yellow);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    /* padding: 10px; */
    border-radius: 5px;
    background-color: var(--light-blue);
}

.SMPinfoTextTitle {
    color: var(--blue);
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.SMPinfoTextDate {
    color: var(--light-red);
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.SMPinfoTextNotes {
    color: var(--yellow);
    text-align: center;
    margin: 0;
    font-size: 20px;
}


/* Styling for time section
Main container - SMPtime
ids {
    SMPtimeText
}
*/
.SMPtime {
    display: flex;
    justify-content: space-around;
    border: 5px solid var(--yellow);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px;
    text-align: center;
    /* font-size: 20px; */
    border-radius: 5px;
    background-color: var(--light-blue);
}

#SMPtimeText {
    padding: 5px;
    margin: 0;
    color: var(--yellow);
}

/** Library Styles 
container div - SMPlibraryContainer
classes - SMPlibraryList SMPlibraryListOdd SMPlibraryListEven SMPlibraryText SMPlibraryPlayistAdd
*/

#SMPlibraryContainer {
    grid-area: l;
    background-color: var(--red);
    border: 5px solid var(--yellow);
    border-radius: 10px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 30px;
    margin-right: 30px;
}

.SMPlibraryList {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 30px;
    margin-right: 30px;
}

.SMPlibraryText {

}

.SMPlibraryPlaylistAdd {
    margin-left: auto;
}

.SMPlibraryListOdd {
    background-color: var(--green);
}

.SMPlibraryListEven {
    background-color: var(--light-green)
}

.SMPlibraryText:hover {
    cursor: pointer;
    background-color: var(--yellow);
    border-radius: 5px;
    padding: 0px 8px;
}

/** PLAYLIST STYLES
main container - SMPplaylistContainer
classes - SMPplaylistItem
*/

#SMPplaylistContainer {
    grid-area: p;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--light-blue);
    border: 5px solid var(--yellow);
}

.SMPplaylistItem {
    display: flex;
    background-color: var(--light-red);
    border-radius: 10px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 30px;
    margin-right: 30px;
}

.SMPplaylistButton {
    margin-left: auto;
}


/** temp header */
h1 {
    text-align: center;
}


.SMPplaylistText:hover {
    cursor: pointer;
    background-color: var(--yellow);
    border-radius: 5px;
    padding: 0px 8px;
}


